body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282828;
  color: aliceblue;
}

.navbar {
  background-color: #282828!important;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: yellow !important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.navbar a {
  color: yellow;
}

.nav-link {
  color: aliceblue !important;
  margin-left: 15px;
}

.navbar a:hover {
  color: white !important;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid yellow;
} 

.know-more {
  color: yellow;
  border-radius: 50px;
  border: 1px solid;
}

.know-more:hover {
  color: white;
  border-radius: 50px;
  border-color: white;
}

.header-img {
  margin-top: 30px;
  text-align: right;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}



@media ( max-width: 991px ) {

  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}

.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222629;
  color: rgb(253, 251, 251);
  text-align: center;
  padding-top: 15px;
}

code {
  font-family: 'Mulish', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}